<div class="topbar">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <h1>{{title}}</h1>
        </div>
      </div>
    </div>
</div>
<div class="container-fluid" style="margin-top: 65px;">
    <div class="row">
      <img src="./assets/img/train.jpg" alt="blog image" width="100%"  height="413px"/>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <div class="row" style= "padding-bottom: 20px">
        <h2>TECH BLOG</h2>
        <p>The Story</p>
        <p>What is that fuels each and every one of us in the team? It's the GE Technical Blog. 
         Team can find such a sense of fulfillmet of success, enjoy writing about your passions, what intrests you, what interests other people, and sharing it with the team. With each passing day GE Technical Blog gains more followers, and with that even more success.</p>

        <a routerLink="/blog" class="btn btn-default btn-lg start-btn">Start Bloging</a>
      </div>
    </div>
  </div>
  